Repository greenisagoodcolor/FreeAgentics: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety, radon-complexity, importchecker, taskmaster-validation, active-inference-validation

safety:
  name: safety - dependency vulnerability scan
  entry: safety
  language: python
  args:
  - check
  - --json
  - --output
  - .pre-commit-safety-report.json
  pass_filenames: false

radon-complexity:
  name: radon - cyclomatic complexity analysis
  entry: radon
  language: python
  args:
  - cc
  - --min
  - B
  - --show-complexity
  - --total-average
  - .
  pass_filenames: false

importchecker:
  name: import dependency validation
  entry: python
  language: python
  args:
  - -c
  ...

taskmaster-validation:
  name: TaskMaster configuration validation
  entry: python
  language: python
  args:
  - -c
  ...

active-inference-validation:
  name: Active Inference mathematical consistency
  entry: python
  language: python
  args:
  - -c
  ...

feat(frontend): add backend connectivity status indicator
  web/app/page.tsx
Due: none

fix(theme): force dark Bloomberg Terminal theme
  web/app/layout.tsx
  web/globals.css
  web/layout.tsx
Due: none

fix(frontend): resolve hydration error and restore proper styling
  web/app/page.tsx
Due: none

fix: Update remaining test files and dashboard page
  tests/unit/test_generative_model.py
  web/app/dashboard/page.tsx
Due: radon-complexity, importchecker

fix: Update gradient flow image and final dashboard refinements
  figures/active_inference/gradient_flow.png
  web/app/dashboard/page.tsx
Due: none

fix: Update Bloomberg layout component
  web/app/dashboard/layouts/BloombergLayout.tsx
Due: none

fix: Final dashboard layout refinements
  web/app/dashboard/layouts/BloombergLayout.tsx
  web/app/dashboard/layouts/KnowledgeLayout.tsx
  web/app/dashboard/layouts/ResizableLayout.tsx
  web/app/dashboard/page.tsx
Due: none

fix: Resolve Next.js build issues and move API routes to correct App Router location
  inference/gnn/layers.py
  web/app/layout.tsx
  web/page.tsx
  web/tsconfig.tsbuildinfo
Due: radon-complexity, importchecker, active-inference-validation

fix: Final resolution of Next.js build issues
  inference/gnn/layers.py
  web/test-results/.last-run.json
Due: radon-complexity, importchecker, active-inference-validation

fix: Final cleanup - minor GNN layers update and test artifacts
  inference/gnn/layers.py
  web/debug-dashboard.js
  web/test-results/.last-run.json
Due: radon-complexity, importchecker, active-inference-validation

feat: update dev workflow rules and task management
  .clinerules/dev_workflow.md
  .env.production.template
  .github/instructions/dev_workflow.md
  .github/workflows/performance-monitoring.yml
  .gitignore
  .pre-commit-bandit-report.json
  .pre-commit-config.yaml
  .roo/rules/dev_workflow.md
  .taskmaster/docs/nemesis-production-readiness-prd.md
  .taskmaster/reports/task-complexity-report.json
  .taskmaster/tasks/tasks.json
  .trae/rules/dev_workflow.md
  .windsurf/rules/dev_workflow.md
  Makefile
  NEMESIS_AUDIT_TASKS_2.2_TO_8.3.md
  NEMESIS_COMPLETION_AUDIT_REPORT.md
  SECURITY_AUDIT_REPORT.md
  api/main.py
  api/middleware/security_monitoring.py
  api/v1/agents.py
  api/v1/auth.py
  api/v1/inference.py
  api/v1/security.py
  auth/security_implementation.py
  auth/security_logging.py
  database/session.py
  docker-compose.override.yml.example
  docker-compose.yml
  docs/DOCKER_SECURITY.md
  docs/MULTIPROCESSING_ANALYSIS.md
  docs/SECURITY_AUDIT_LOGGING.md
  monitoring/grafana/dashboards/freeagentics-overview.json
  security/OWASP_TOP_10_ASSESSMENT.md
  security/owasp_assessment.py
  tests/integration/test_pymdp_validation.py
  tests/performance/inference_benchmarks.py
  tests/performance/pymdp_benchmarks.py
  tests/performance/test_database_load.py
  tests/simulation/concurrent_simulator.py
  tests/unit/test_database_integration.py
Due: radon-complexity, importchecker, taskmaster-validation

feat: complete Month 1 post-release improvements
  DEVELOPER_SETUP.md
  MONTH1_COMPLETION_REPORT.md
  month1_performance_results.json
  month1_performance_test.py
Due: radon-complexity, importchecker

fix: Add missing docstrings to api modules
  .pre-commit-config.yaml
  api/main.py
  api/middleware/rate_limiter.py
  api/performance_middleware.py
Due: radon-complexity, importchecker

fix: Add missing docstrings to agents modules
  agents/optimized_agent_manager.py
  agents/threading_profiler.py
Due: radon-complexity, importchecker

fix: Add missing docstrings to fallback_handlers and performance_optimizer
  agents/fallback_handlers.py
  agents/performance_optimizer.py
Due: radon-complexity, importchecker

fix: Add missing docstrings to database modules
  database/optimization_example.py
  database/query_optimizer.py
Due: radon-complexity, importchecker

feat: add script to remove bypass directives
  scripts/remove_bypass_directives.py
Due: radon-complexity, importchecker

fix: resolve merge conflict marker in security_implementation.py
  auth/security_implementation.py
Due: radon-complexity, importchecker

fix: handle PyMDP single-action agent compatibility issue in integration test
  tests/integration/test_action_sampling_issue.py
Due: radon-complexity, importchecker

Path conditions:
  safety: any of: requirements.*\.txt$
  radon-complexity: any of: \.py$
  importchecker: any of: \.py$
  taskmaster-validation: any of: ^\.taskmaster/.*\.json$
  active-inference-validation: any of: ^inference/.*\.py$
