Repository greenisagoodcolor/FreeAgentics: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint, prettier

Path conditions:
  typescript-check: any of: ^web/.*\.(ts|tsx)$, but not: (?x)^(
  \.archive/.*|
  \.git/.*|
  web/node_modules/.*|
  web/\.next/.*|
  web/out/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.egg-info/.*
)$

  eslint: any of: ^web/.*\.(js|jsx|ts|tsx)$, but not: (?x)^(
  \.archive/.*|
  \.git/.*|
  web/node_modules/.*|
  web/\.next/.*|
  web/out/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.egg-info/.*
)$

  prettier: any of: ^web/.*\.(js|jsx|ts|tsx|json|css|md)$, but not: (?x)^(
  \.archive/.*|
  \.git/.*|
  web/node_modules/.*|
  web/\.next/.*|
  web/out/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.egg-info/.*
)$


fix: NEMESIS FRONTEND-QUALITY - Remove unused imports and fix TypeScript any types
  web/__tests__/components/main/AgentCreatorPanel.test.tsx
  web/__tests__/components/main/ConversationWindow.test.tsx
  web/__tests__/components/main/KnowledgeGraphView.test.tsx
  web/__tests__/components/main/PromptBar.test.tsx
  web/__tests__/components/main/SettingsDrawer.test.tsx
  web/__tests__/components/main/SimulationGrid.test.tsx
  web/__tests__/hooks/use-prompt-processor.test.ts
  web/__tests__/prompt-interface.test.tsx
Due: typescript-check, eslint, prettier

fix: NEMESIS ZERO-TOLERANCE - Comprehensive linting and formatting fixes
  .github/scripts/filter_cves.py
  tests/performance/pymdp_mathematical_validation.py
  tests/test_llm_providers.py
  web/__tests__/main/page.test.tsx
  web/components/agent-visualization.tsx
  web/components/knowledge-graph-view.tsx
  web/components/main/AgentCreatorPanel.tsx
  web/components/main/KnowledgeGraphView.tsx
  web/components/main/SettingsDrawer.tsx
  web/components/main/SimulationGrid.tsx
  web/components/prompt-interface.tsx
  web/hooks/use-agent-conversation.ts
  web/hooks/use-agents.ts
  web/hooks/use-conversation.ts
  web/hooks/use-knowledge-graph.ts
  web/hooks/use-prompt-processor.ts
  web/hooks/use-simulation.ts
  web/hooks/use-websocket.ts
Due: typescript-check, eslint, prettier

fix: NEMESIS CI COMPLIANCE - Fix isort and React hook warnings
  pyproject.toml
  web/hooks/use-prompt-processor.ts
Due: typescript-check, eslint, prettier

fix: NEMESIS TYPE SAFETY - Fix mypy errors without type:ignore
  api/ui_compatibility.py
  api/v1/agents.py
  main.py
  security/rbac_comprehensive_security_audit.py
Due: none

feat: NEMESIS ULTIMATE CI/CD PIPELINE - Zero-Tolerance Implementation
  .github/workflows/ci.yml
Due: none

chore: Simplify CI/CD setup - focus on functionality
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .pre-commit-config.yaml
  CI_CLEANUP_SUMMARY.md
Due: none

style: Format all files with Ruff
  api/v1/mfa.py
  auth/https_enforcement.py
  auth/jwt_handler.py
  auth/security_implementation.py
  coalitions/formation_strategies.py
  database/query_optimizer.py
  examples/demo_agent_memory_lifecycle.py
  observability/advanced_log_analytics.py
  observability/metrics_exporter.py
  observability/production_apm.py
  observability/prometheus_metrics.py
  scripts/pipeline/migrate_to_unified_pipeline.py
  scripts/pipeline/pipeline_dashboard.py
  scripts/pipeline/pipeline_metrics.py
  security/testing/sast_scanner.py
  security/zero_trust/example_usage.py
  tests/integration/test_comprehensive_gnn_llm_coalition_integration.py
  tests/integration/test_llm_end_to_end.py
  tests/performance/database_load_testing.py
  tests/performance/stress_testing_framework.py
  tests/performance/test_database_optimization.py
  tests/performance/websocket_performance_tests.py
  tests/reporting/coverage_analyzer.py
  tests/security/crypto_static_analysis.py
  tests/security/run_comprehensive_penetration_tests.py
  tests/security/run_rbac_tests.py
  tests/security/security_regression_runner.py
  tests/security/test_owasp_validation.py
  tests/unit/test_gnn_validator.py
  tests/unit/test_performance_theater_removal.py
  tests/unit/test_task_9_1_mock_pattern_audit.py
Due: none

feat: Streamline CI/CD pipeline with essential checks and frontend fixes
  .github/workflows/README.md
  .github/workflows/ci.yml
  web/__tests__/prompt-interface.test.tsx
  web/app/api/health/route.ts
  web/app/sitemap.ts
  web/docs/CI_BUILD_FIXES.md
  web/next.config.js
Due: typescript-check, eslint, prettier

fix: update CI to Node.js 20 and add faker dependency
  .github/workflows/ci.yml
  requirements-core.txt
Due: none

perf: optimize CI dependencies for faster builds
  requirements-core.txt
  web/package.json
Due: prettier

perf: create minimal CI requirements for ultra-fast builds
  .github/workflows/ci.yml
  requirements-ci.txt
Due: none

fix: add PyMDP mocks and JWT dependency for CI
  conftest.py
  requirements-ci.txt
  tests/mocks/__init__.py
  tests/mocks/pymdp_mock.py
Due: none

fix: resolve CI build failures
  requirements-ci.txt
  web/tsconfig.json
Due: prettier

feat: Implement professional multi-stage CI/CD pipeline
  .github/workflows/CI-PIPELINE-OVERVIEW.md
  .github/workflows/ci.yml
  .github/workflows/deployment-pipeline.yml
  .github/workflows/matrix-tests.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/security-compliance.yml
  .license-header.txt
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

fix: Fix CI workflow syntax errors and action configurations
  .github/workflows/ci.yml
  .github/workflows/security-compliance.yml
Due: none

fix: Simplify CI workflow configuration and fix syntax issues
  .github/workflows/ci-simple.yml
  .github/workflows/security-compliance.yml
Due: none

debug: Binary search approach - test first 4 CI jobs
  .github/workflows/ci-debug.yml
Due: none

debug: Add unit-tests job back to debug CI
  .github/workflows/ci-debug.yml
Due: none

debug: Add integration-tests and frontend-tests to debug CI
  .github/workflows/ci-debug.yml
Due: none

debug: Test integration-tests only (frontend-tests commented out)
  .github/workflows/ci-debug.yml
Due: none

fix: Replace env variable interpolation in services section
  .github/workflows/ci-debug.yml
Due: none

fix: Apply environment variable fix to main CI workflow
  .github/workflows/ci.yml
Due: none

fix: install jest-junit dependency for CI test reporting
  web/package-lock.json
  web/package.json
Due: prettier

feat: Backend-Fixer - Complete test infrastructure overhaul
  web/__tests__/components/main/ConversationWindow.test.tsx
  web/__tests__/components/main/KnowledgeGraphView.test.tsx
  web/__tests__/components/main/PromptBar.test.tsx
  web/__tests__/components/main/SettingsDrawer.test.tsx
  web/__tests__/hooks/use-prompt-processor.test.ts
  web/__tests__/prompt-interface.test.tsx
  web/__tests__/test-utils.tsx
  web/hooks/use-prompt-processor.ts
  web/junit.xml
Due: typescript-check, eslint, prettier

fix: Resolve Jest module resolution for @/lib/* imports in CI
  web/__tests__/__mocks__/fileMock.js
  web/jest.config.js
Due: eslint, prettier

fix: Build-Doctor - Jest module resolution fix for CI
  web/__tests__/prompt-interface.test.tsx
Due: typescript-check, eslint, prettier

fix: Test-Runner - Complete CI module resolution fix
  .github/workflows/ci.yml
  web/__tests__/__mocks__/fileMock.test.js
  web/__tests__/components/main/ConversationWindow.test.tsx
  web/__tests__/components/main/PromptBar.test.tsx
  web/__tests__/components/main/SettingsDrawer.test.tsx
  web/jest.config.js
Due: typescript-check, eslint, prettier

fix: Test-Runner - Comprehensive CI module resolution fix
  .github/workflows/ci.yml
  web/__tests__/__mocks__/fileMock.test.js
  web/jest.config.js
Due: eslint, prettier

fix: CRITICAL - Force add web/lib/ directory (was gitignored)
  web/lib/api-client.ts
  web/lib/error-handling.ts
  web/lib/graph-rendering/index.ts
  web/lib/graph-rendering/types.ts
  web/lib/knowledge-graph/index.ts
  web/lib/knowledge-graph/layout/d3-force-layout.ts
  web/lib/knowledge-graph/types.ts
  web/lib/memory-viewer-utils.ts
  web/lib/types.ts
  web/lib/utils.ts
  web/lib/websocket-client.ts
Due: typescript-check, eslint, prettier

test: fix formatting for mocks directory
  web/__mocks__/hooks/use-auth.ts
  web/__mocks__/hooks/use-settings.ts
  web/__tests__/components/main/SettingsDrawer.test.tsx
  web/jest.setup.js
Due: typescript-check, eslint, prettier

fix: resolve linting issues with proper re-export pattern
  web/lib/graph-rendering/index.ts
  web/lib/knowledge-graph/layout/d3-force-layout.ts
Due: typescript-check, eslint, prettier

fix: CRITICAL CI fixes - missing dependencies and configuration
  .github/workflows/ci.yml
  requirements-ci.txt
Due: none

fix: NEMESIS CI CRITICAL - Restore CI functionality with missing dependencies
  requirements-ci.txt
Due: none

fix: NEMESIS ARCHITECTURAL FIXES - TypeScript target + Jest mocking pattern
  web/__tests__/components/main/SettingsDrawer.test.tsx
  web/tsconfig.json
Due: typescript-check, eslint, prettier

fix: NEMESIS COMMITTEE SYSTEMATIC CI FIXES - Complete comprehensive resolution
  .github/workflows/ci-simple.yml
  .github/workflows/ci.yml
  requirements-ci.txt
  web/__tests__/components/main/SimulationGrid.test.tsx
Due: typescript-check, eslint, prettier

fix: Complete SimulationGrid test fixes - all 14 tests passing
  web/__tests__/components/main/SimulationGrid.test.tsx
Due: typescript-check, eslint, prettier

fix: Complete use-agent-conversation hook - all 10 tests passing
  web/__tests__/hooks/use-agent-conversation.test.ts
Due: typescript-check, eslint, prettier
